# Ignore Git history
.git/
.gitignore

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Virtual Environment (Docker creates its own)
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore Local Data
*.db
*.sqlite3

# Ignore Documentation & Configs
README.md
docker-compose.yml
Dockerfile*