# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Java / Spring Boot
target/
*.class
.gradle/
build/
.settings/
.classpath
.project

# Node / React
node_modules/
build/
.DS_Store

# IDE
.vscode/
.idea/